body {
    background-color: #0a0a23;

}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

.container {
    margin: 20px 40px;
    color: white;
}

.container .row .column-1 p {
    font-size: .9rem;
    font-family: 'Roboto';
}

.container .row .column-2 {
    text-align: center;
    flex-grow: 7;
    font-family: 'Roboto';

}

.row {
    display: flex;
    background-color: #14213d;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    overflow-x: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

th {
    font-size: .8em;
}

tr:nth-child(even) {
    background-color: rgba(133, 133, 133, .2);

}

table:nth-child(2) input {
    background-color: transparent;
    border: 1px solid #dddddd;
    height: 1.5rem;
    color: #dddddd;
    line-height: 24px;
    font-weight: bold;
    font-size: .9rem;
    width: 100%;


}

table:nth-child(2) input[type="radio"] {
    background-color: transparent;
    border: 1px solid #dddddd;
    height: 1rem;
    color: #dddddd;
    width: 40%;
}

.column-1 input {
    display: block;
    background-color: transparent;
    border: 1px solid #dddddd;
    height: 1.5rem;
    color: #dddddd;
    line-height: 24px;
    font-weight: bold;
    font-size: .9rem;
    text-align: center;
    width: 70%;
}

button {
    background-color: transparent;
    border: 3px solid #dddddd;
    display: inline-block;
    color: #dddddd;
    padding: 12px;
    font-weight: bold;
    font-size: .9rem;
    text-align: center;
    width: 30%;
    margin-top: 10px;
    transition: all ease .2s;
    cursor: pointer;
}

button:hover {
    transform: translateY(-4px);
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 1.5em 0.5em .5em;

    /* reset */

    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}